* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  padding: 2rem 5rem;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 3rem;
}

li, a {
  font-family: 'Poppins', sans-serif;
  color: #1b1b1b;
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  transition: all ease-in 200ms;
}

span {
  color: blue;
}

a:hover {
  color: blue;
}

.nav__item__logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h1, h2 {
  margin: auto 0;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 500;
}

h2, p {
  font-family: 'Poppins', sans-serif;
  font-size: 300;
  font-weight: lighter;
}

.hamburger {
  display: none;
}

.col {
  display: flex;
  gap: 100px;
}

.home__page, .about__page, .project__page, .technology__page {
  display: flex;
  justify-content: space-between;
  padding: 8rem 5rem;
}

.home__page img {
  position: relative;
  left: 24rem;
}

.title {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 36px;
  letter-spacing: 3px;
}

.project__img {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.technology__page {
  justify-content: space-around;
  padding: 12rem 0;
}

.footer_page {
  padding: 5rem 0 3rem 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 680px) {

  nav {
    padding: 1rem;
  }

  ul {
    display: none;
  }

  .col {
    display: block;
  }

  .home__page, .about__page, .project__page, .technology__page {
    padding: 5rem 3rem;
  }

  img {
    height: 100px;
  }

  .home__page h1 {
    margin-bottom: 5rem;
    text-align: center;
  }

  .home__page img {
    position: relative;
    left: auto;
    left: 25%;
    margin: 5rem 0;
  }

  .about__page img {
    text-align: center;
    position: relative;
    left: 35%;
    margin: 5rem 0;
  }

  .about__page h2 {
    margin-bottom: 5rem;
  }

  .project__img {
    margin: 0 auto;
  }

  .p_1, .p_2 {
    margin-bottom: 5rem;
  }

  .technology__page img {
    display: block;
    margin: 5rem 0;
  }

  .hamburger {
    display: inline-block;
    font-size: 24px;
  }

}
